<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>IMS | Add Customers</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/styles/add.css" rel="stylesheet">
</head>

<body data-bs-theme="light">
    <div class="dropdown position-fixed top-0 end-0 mt-3 me-3 bd-mode-toggle">
        <button id="toggleButton" class="off">
            <ion-icon name="sunny" id="sunny" class=""></ion-icon>
            <ion-icon name="moon" id="moon" class="change_icon"></ion-icon>
        </button>
    </div>
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4 img" src="/assets/imgs/PlaceOrder.png" alt="" width="80" height="80">
                <h2>Add Customers</h2>
                <p class="lead">You can add the customers here and even manage them.</p>
            </div>

            <div class="row g-5">
                <div class="col-lg-12">
                    <h4 class="mb-3">Fill Details</h4>
                    <form class="needs-validation" action="/customer_submit" method="post">
                        <div class="row g-3">

                            <div class="col-md-4">
                                <label for="user_name" class="form-label">Customer Name</label>
                                <input type="text" class="form-control" id="user_name" name="username" placeholder=""
                                    required>
                                <div class="invalid-feedback">
                                    Please insert valid name.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="phone" class="form-label">Phone No</label>
                                <input type="tel" class="form-control" id="phone" name="phone" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please select a valid number.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="email" class="form-label">Email Id</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder=""
                                    required>
                                <div class="invalid-feedback">
                                    Please select a valid email.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder=""
                                    required>
                                <div class="invalid-feedback">
                                    Please select a valid Address.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn bg-dark-subtle btn-lg" type="submit" onclick="validateForm()">Add
                            Customer</button>
                </div>
                </form>
            </div>
    </div>
    </main>

    <footer class="my-5 text-primary-emphasis text-center text-small">
        <p class="mb-1">&copy; 2023 GoG</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="text-primary-emphasis">Privacy</a></li>
            <li class="list-inline-item"><a href="#" class="text-primary-emphasis">Terms</a></li>
            <li class="list-inline-item"><a href="#" class="text-primary-emphasis">Support</a></li>
        </ul>
    </footer>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/assets/theme.js"></script>
</body>

</html>